/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.9);
    background: #f9f9f9;
}

header, footer {
    background: #f7f7f7;
}

/* TITLES */

h1 {
    font-weight: 300;
    font-size: 140%;
    margin-right: 70px;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 1px 2px 5px #333;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}

input#colorGenerator, header input[type="submit"] {
    border: 1px solid #aaaaaaaf;
}

header input#colorGenerator {
    text-align: center;
    width: 150px;
    padding: 10px 0;
}

header input[type="submit"] {
    margin-left: 10px;
    padding: 10px 25px;
    background: linear-gradient(to left bottom, rgba(42, 66, 245, 0.63), rgba(34, 255, 34, 0.575));
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
}


/* MAIN */

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
}

.blocks {
    width: 100%;
    padding: 15px 25px;
    font-weight: bold;
    text-shadow: 0px 0px 25px hsla(0, 0%, 0%, 0.5);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* Footer */
footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* JS */

.container-copied-text {
    position: fixed;
    top: 3px;
    right: 1px;
}

.copied {
    background: rgba(30, 253, 30, 0.8);
    padding: 15px 20px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 1030px) {
    /* Title */
    h1 {
        font-size: 120%;
    }

    /* Main */
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 780px) {
    /* Title */
    h1 {
        font-size: 100%;
        margin-right: 40px;
    }

    /* Header */
    header input#colorGenerator {
        width: 100px;
    }

    header input[type="submit"] {
        padding: 10px 15px;
    }


    /* Main */
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    /* Title */
    h1 {
        font-size: 80%;
        margin-right: 30px;
    }

    /* Header */
    header input#colorGenerator {
        width: 70px;
    }

    /* Main */
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}